*{
    margin: o;
    padding: o;
}


body{
    background-color: #C9ADA7;
    font-family:'Raleway', sans-serif;
}

/* Estilo titulo*/
h1{
    color: black;
    background-color: #f2e9e4;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;    
    text-align:left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    display: flex;
}
.container .container__descripcion {
    color: whitesmoke;
    font-family:'Raleway', sans-serif;
    text-align: center;
    bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.hero {
    width: 100%;
    height: 550px;
    background-image: url(../img//InShot_20220829_012536150.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Galeria Grid*/
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Contenedor de la Grid y Animaciones*/

.galeria_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
}

.galeria_grid .img-box{
    position: relative;
}

.galeria_grid .img-box img {
    max-width: 90%;
    max-height: 90%;
    margin-left: 45px;
    border-radius: 20px;
    opacity: 0.7;
    transition: all 1.5s;
}

.galeria_grid .img-box img:hover {
    transform: scale(1.1);
    opacity: 1;
}

/*Pagina Esculpidas*/
.contenedor-2 h2{
    font-size: 20px;
    margin-top: 100px;
    font-weight: bold;
}
.contenedor-2{
    width: 100%;
    background-color: #f2e9e4;
    display: flex;
    text-align: center;
    
}
.contenedor-esculp{
    width: 100%;
    height: 500px;
    background-color: #C9ADA7;
    margin-inline: 2px;
    font-size: 16px;
}
.contenedor-esculp p{
    margin: 50px;
}
.img img{

    width: 180px;
    height: 180px;
    margin: 50px;
    margin-left: 220px;
    border-radius: 50%;
    opacity: 0.7;
    transition: all 1.5s;
}
.img img:hover{
    transform: scale(1.4);
    opacity: 1;
}


footer{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
/*Media Queries*/

@media screen and (max-width:768px) {
    .galeria_grid {
        grid-template-columns: repeat(2,1fr);
    }
    .galeria_grid{
        grid-template-rows: repeat(2,1fr);
    }
    .galeria_grid{
        text-align: center;

    }
    .galeria_grid .img-box img{
        margin-left: 6px;
    }

    .container__descripcion {
        flex-direction: column;
    }

    .container__descripcion {
        width: 100%;
    }
    .container__descripcion {
        margin-bottom: 100px;
    }
        
    .hero {
        width: 100%;      
    }
    .hero {
        background-position: center center;
    }
    /*Página Esculpidas*/
    .img img{
        width: 100px;
    }
    .img img{
        margin: 40px;
    }
    .img img{
        margin-left: 100px;
    }
    .img img{
        border-radius: 50%;
    }
    .contenedor-esculp{
        width: 100%;
    }
    .contenedor-esculp{
        font-size: 10px;
    }
    .contenedor-esculp{
        height: 400px;
    }
    .contenedor-esculp p{
        margin: 10px;
    }
    .contenedor-2 h2{
        font-size: 20px;
    }

}
    
    


@media screen and (max-width:480px) {
    .galeria_grid {
        grid-template-columns: repeat(1,1fr);
    }
    .galeria_grid {
        grid-template-rows: repeat(1,1fr);
    }
    .galeria_grid{
        text-align: center;
    }
    .galeria_grid img{
        width: 70%;
    }
   .contenedor h2{
    font-size: 12px;
    }
    .container .container__descripcion {
        flex-direction: column;
    }
    .container .container__descripcion{
        width: 100%;
    }
    .container .container__descripcion {
        font-size: 15px;
    }
    .hero h1{
        width: 100%;
    }
    .hero h1{
        height: 10px;
    }
    .hero h1{
        font-size: 500%;
    }
    .hero p{
        margin-top: 60px;
    }
    /*Pagina Esculpidas*/
    h1{
        font-size: 18px;
    }
    .contenedor-esculp{
        height: 400px;
    }
    .contenedor-esculp{
        margin-inline: 1px;
    }
    .contenedor-2{
        width: 100%;
    }
    .contenedor-2 h2{
        font-size: 15px;
    }
    .contenedor-2 h2{
        margin-top: 25px;
    }
    .img img{
        width: 100px;
    }
    .img img{
        height: 100px;
    }
    .img img{
        margin: 15px;
    }
    .img img{
        margin-left: 40px;
    }
    .img img{
        border-radius: 50%;
    }
}
