$width: 100%;
$width-2: 80%;
$width-3: 60%;
$width-4: 180px;
$mWidth: 0;
$height:550px;
$height-2: 180px;
$height-3: 500px;
$maxW: 90%;
$maxH: 90%;
$margin: 0;
$margin-2: 50px;
$marginT-1: 100px;
$marginT-2: 60px;
$marginT-3: 50px;
$marginB-1: 100px;
$marginB-2: 60px;
$marginB-3: 50px;
$marginB-4: 10px;
$marginL-1: 50px;
$marginL-2: 45px;
$marginL-3: 30px;
$marginL-4: 20px;
$marginL-5: 9rem;
$marginL-6: 250px;
$marginR-1: 50px;
$marginInL:2px;
$btm-1: 50px;
$padding: 6rem;
$padding-2: 2rem;
$padding-3: 1.2rem;
$padding-4: 40px;
$padding-5: 1rem;
$paddingT: 50px;
$paddingT-1: 0;
$paddingB: 50px;
$paddingBlk: 80px;
$bRadius: 20px;
$bRadius-2: 50%;
$gridTColums: repeat(3,1fr);
$gridTRows: repeat(1,1fr);
$gap: 10px;
$boxSh: 15px 15px 30px black;